header {
  width: 100%;
  padding-top: 16px;
}
.navbar {
  max-width: 1440px;
  margin: 0 auto;

  padding: 0px 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;

  li {
    margin-left: 24px;
  }

  @include responsive() {
    display: none;
  }
}

.logo {
  max-width: 88px;
}

.nav-link {
  display: inline-block;
  text-decoration: none;

  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 200;

  padding: 8px 16px;

  color: $gray-3;

  text-transform: uppercase;
  transition: all 0.7s ease;

  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -50px;
    left: 50%;

    margin-top: 8px;
    width: 2px;
    height: 0px;
    border-radius: 2px;

    transform: translate3d(-15%, 0, 0);
    transition: 0.7s ease;

    background: linear-gradient(
      359.94deg,
      #e11c21 0.06%,
      rgba(225, 28, 33, 0) 101.91%
    );
  }

  &:hover {
    color: $white-light;

    &::after {
      height: 40px;
    }
  }
}

.bx {
  width: 48px;
  height: 48px;

  border-radius: 8px;

  display: none;

  position: relative;

  @include responsive() {
    display: block;

    &::after {
      content: "";

      position: absolute;
      top: 70%;
      left: 15%;

      width: 70%;
      height: 5%;
      border-radius: 5px;

      background-color: #fff;
    }

    &::before {
      content: "";

      position: absolute;
      top: 50%;
      left: 15%;

      width: 70%;
      height: 5%;
      border-radius: 5px;

      background-color: #fff;
    }
  }
}

.nav-social {
  display: flex;

  @include responsive() {
    display: none;
  }

  svg {
    cursor: pointer;

    margin-left: 16px;
    width: 24px;

    path,
    circle {
      transition: 0.7s ease;
    }

    &:hover {
      path,
      circle {
        fill: $red-light;
        transform: translate3d(0, -3px, 0);
      }
    }
  }
}
